<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <style>
        #map {
            width: 100%;
            height: 700px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="map"></div>
    <button onclick="fullScreenView()">View in full screen</button>
    <div class="coordinate"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script>
        var map = L.map('map').setView([23.6850, 90.3563], 7);
        map.zoomControl.setPosition('topright');

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([23.6850, 90.3563]).addTo(map)
            .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
            .openPopup();

        // add map scale
        L.control.scale({position: 'bottomright'}).addTo(map);

        // full screen map view
        var mapId = document.getElementById('map');
        function fullScreenView() {
            mapId.requestFullscreen();
        }

        // Map coordinate
        map.on('mousemove', function (e) {
            console.log(e);
            $('.coordinate').html(`Lat: ${e.latlng.lat} Lng: ${e.latlng.lng}`)
        })
    </script>
</body>
</html>