{% extends 'base.html' %}
{% load static %}
{% block title %} Documents || {{ block.super }}{% endblock %}


{% block container %}
    <h3>Generate PDF</h3><hr/>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col" class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        {% for context in generate_documents %}
            <tr>

                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ context.customer.first_name }} {{ context.customer.last_name }}</td>
                <td>{{ context.product }}</td>
                <td>{{ context.price }}</td>
                <td>{{ context.quantity }}</td>
                <td class="text-center" width="200px">
                    <a href="{% url 'documents:doc-detail' context.pk %}" class="btn btn-sm btn-info">Details</a>
                    <a href="" class="btn btn-sm btn-info">PDF</a>
                    <a href="" class="btn btn-sm btn-info">Excel</a>
                </td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}