{% extends "base.html" %}


{% block content %}
    <style>
        .ingredient-form {
            border-bottom: 1px solid black;
        }

        .hidden {
            display: none;
        }
    </style>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <div style="margin-top: 30px">
        <form action='.' method="POST">
            {% csrf_token %}
            {#        {{ form.as_p }}#}
            {% for field in form %}
                <div class="{% if field.field.required %}{{ form.required_css_class }}{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}

            {% if formset %}
                <h3 style="color: #000">Ingredients</h3>
                {{ formset.management_form }}
                <div id="ingredient-form-list">
                    {% for form in formset %}
                        <div id="" class="ingredient-form">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                </div>

                <div id="empty-form" class="hidden">{{ formset.empty_form }}</div>
                <button id="add-more" type="button">Add more</button>
            {% endif %}
            <button style="margin-top: 10px" type="submit">Save</button>
        </form>
    </div>


    <script>
        const addMoreBtn = document.getElementById('add-more')
        const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')

        addMoreBtn.addEventListener('click', add_new_form)

        function add_new_form(event) {
            if (event) {
                event.preventDefault()
            }
            const currentIngredientForms = document.getElementsByClassName('ingredient-form')
            let currentFormCount = currentIngredientForms.length  // + 1
            const formCopyTarget = document.getElementById('ingredient-form-list')
            const copyEmptyForm = document.getElementById('empty-form').cloneNode(true)
            copyEmptyForm.setAttribute('class', 'ingredient-form')
            copyEmptyForm.setAttribute('id', `form-${currentFormCount}`)
            const regex = new RegExp('__prefix__', 'g')
            copyEmptyForm.innerHTML = copyEmptyForm.innerHTML.replace(regex, currentFormCount)
            totalNewForms.setAttribute('value', currentFormCount + 1)
            // add new empty form
            formCopyTarget.append(copyEmptyForm)
        }
    </script>

{% endblock content %}
